
#temporary things that always change
/tmp/*

#/proc stuff
/proc/build_date
/proc/cpuinfo
/proc/partitions
/proc/sttime
/proc/temperature
/proc/version

#uninportant things to overall download of repo
/var/yapi/cache

#syslog log
/var/log/syslog
/var/log/dmesg
